* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

form {
  width: 90%;
  border: 2px solid black;
  padding: 2em;
  border-radius: 5px;
}

.form-row {
  display: flex;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
